<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binny.openapi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 需要硬件支持低功耗蓝牙 -->
    <uses-feature android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- Android 5.0以上蓝牙好需要位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="andriod.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"/>

    <application
        android:name=".APP"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.binny.openapi.util.CustomCachingGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".mvp.view.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".mvp.view.activity.register.RegisterActivity" />
        <activity android:name=".mvp.view.activity.login.LoginActivity">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity android:name=".mvp.view.activity.WebActivity" />
        <activity android:name=".mvp.view.activity.LockScreenActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".mvp.view.activity.SplashActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".mvp.view.activity.HistoryDetailActivity"
            android:label="@string/title_activity_history" />
        <activity
            android:name=".mvp.view.activity.BluetoochActivity"
            android:label="@string/title_activity_blue_tooch"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>